<h2><%= @recipe["title"] %></h2>
<h3>Chef: <% @recipe["chef"] %></h3>
<h4>Ingredients: <% @recipe["ingredients"] %></h4>
<h4>Directions: <%= @recipe["directions"] %></h4>
<a href='/client/recipes'

<a href="client/recipes/"<% @recipe['id'] %>/edit">i/      </a>
<a href="/client/recipes/<%= @recipe['id'] %>" data-method="delete">Delete      </a>